TestCasa/Service References/WSGestioneChiamate/GestioneChiamate42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.152:41000/GestioneChiamate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSChiamatePerse" />
  <xs:element name="InsertJson_obj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonArray" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJson_objResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSChiamatePerse" minOccurs="0" name="InsertJson_objResult" nillable="true" type="q1:ResponseInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJson_json">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonArray" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJson_jsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertJson_jsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>