TestCasa/Service References/WSGestioneChiamate/GestioneChiamate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41000/GestioneChiamate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSChiamatePerse" />
  <xs:element name="InsertJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonArray" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSChiamatePerse" minOccurs="0" name="InsertJsonResult" nillable="true" type="q1:ResponseInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>